body {
  font-family: sans-serif;
  background: #f7f7f7;
  text-align: center;
  padding: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery img {
  width: 200px;
  border-radius: 8px;
}
